# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/

# Node / NPM
node_modules/

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# demonOS ephemeral run logs
.demon/runs/
.demon/tmp/
